body {
    font-family: arial, sans sans-serif;
    background-image: url(../img/fundobaixo10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.hero {
    background-color: rgba(191, 216, 210, 0.7);
    height: 850px;
    margin: 10px;
    background-position: right center; /* back-pos escolhe lados onde fixa imagem*/
    background-size: cover; /* Deixar imagem inteira fixa */
    border-top: 1px solid red transparent;
    padding-top: 1px;
}

.hero-content {
    text-align: center;
    color: rgb(223, 116, 74);
    margin-top: 100px;
}

.hero-content h1 {
    text-transform: uppercase; /* Letras maiúsculas*/
    font-size: 46px;
    text-shadow: 3px 3px 5px rgb(254, 220, 210); /* Efeito sombreado*/
    letter-spacing: 8px;
}

.hero-content p {
    background-color: rgba(254, 220, 210, 0.5);
    display: inline-block;
    padding: 12px;
    border-bottom: 1px solid white;

    letter-spacing: 4px;
}

.hero nav ul {
    text-align: right; 
    margin: 20px 50px 0 0 ;
}

.hero nav li {
    display: inline-block; /* colocar as listas lado a lado */
    list-style: none;
    
    
    border: 1px solid white;
} 

.hero nav a {
    background: rgba(254, 220, 210, 0.5); /* Rred, Ggreen, Bblue, Alpha= opacidade vai de 0 até 1*/
    display: block; /* link transformado em block, p/ se encaixar nas lis*/
    padding: 15px;
    color: rgb(223, 116, 74);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; /* Espaçamento da caixa / alongamento */
}

.hero nav a:hover {
    background: rgba(254, 220, 210, 0.8);
    transition: 0.5s;
}
.somos {
    margin: 50px;
    color: rgb(223, 116, 74);
    font-size: 20px;
    line-height: 30px;
    font-family: cursive;
}

img {
    width: 60px;
    
}

#img {
    padding-top: 20px;
}

@media screen and (max-width: 500px) {
    
}