body {
    font-family: arial, sans sans-serif;
    background-color: rgba(254, 220, 210, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.hero {
    background-image: url(../img/backprincipal2000.jpeg);
    height: 500px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-position: right center; /* back-pos escolhe lados onde fixa imagem*/
    background-size: cover; /* Deixar imagem inteira fixa */
    border-top: 1px solid red transparent;
    padding-top: 1px;
}

.hero-content {
    text-align: center;
    color: rgb(223, 116, 74);
    margin-top: 100px;
}

.hero-content h1 {
    text-transform: uppercase; /* Letras maiúsculas*/
    font-size: 46px;
    text-shadow: 3px 3px 5px rgb(254, 220, 210); /* Efeito sombreado*/
    letter-spacing: 8px;
}


.hero nav ul {
    text-align: right; 
    margin: 20px 50px 0 0 ;
    /* position: relative; */
}


.hero nav li {
    display: inline-block; /* colocar as listas lado a lado */
    list-style: none;
    border-radius: 5px;
    /* position: relative; */
    border: 1px solid white;
} 

.hero nav li:hover {
    transform: translateY(20%);
    transition: 1s;
}

.hero nav a {
    background: rgba(254, 220, 210, 0.5); /* Rred, Ggreen, Bblue, Alpha= opacidade vai de 0 até 1*/
    display: block; /* link transformado em block, p/ se encaixar nas lis*/
    padding: 15px;
    color: rgb(223, 116, 74);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; /* Espaçamento da caixa / alongamento */
}

.hero nav a:hover {
    background: rgba(254, 220, 210, 0.8);
    transition: 0.5s;

    color: white;
}

.hero nav li:hover {
    border-color: rgba(254, 220, 210, 0.8);
    color: white;
}

.hero-content p {
    background-color: rgba(254, 220, 210, 0.5);
    display: inline-block;
    padding: 12px;
    border-bottom: 1px solid white;
    border-radius: 5px;
    letter-spacing: 4px;
}

.subtitle {
    text-align: center;
    text-transform: uppercase;
    color: rgb(223, 116, 74);
    line-height: 40px;
    letter-spacing: 3px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(254, 220, 210, 0.8);
    border-bottom: 3px solid white;
    border-radius: 5px;
}

.about {
    background-color: rgba(151, 216, 210, 0.5);
    color: rgb(223, 116, 74);
    width: 85%;
    margin: auto;
    padding-top: 10px;    
    padding-bottom: 20px;
}

.about h2 {
    text-align: center;
    padding-top: 10px;
}

.about p{
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 24px;
}

main {
    width: 85%;
    margin: auto;
}

.content-section {
    background-color: rgba(151, 216, 210, 0.5);
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    float: left;
    text-align: center;
    width: 32%;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.card-1, .card-2, .card-4, .card-5 {
    margin-right: 2%;
}

.card-4, .card-5, .card-6 {
    margin-top: 10px;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}

.card p {
    background-color: rgba(254, 220, 210, 0.8);
    color: rgb(223, 116, 74);
    text-transform: uppercase;
    margin: 0;
    border-bottom: 3px solid white;
    border-radius: 0 0 5px 5px;
    padding: 20px 40px;
}

.ref {
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 24px;
    color: rgb(223, 116, 74);
}

.ref2 {
    color: rgb(223, 116, 74);
}


.ref2 a {
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    color: rgb(151, 216, 210);
    font-size: ;
}

.ref2 a:hover {
    background-color: rgba(254, 220, 210, 0.8);
    transform: scale(1.4, 1.2);
    transition: 0.8s;
    color: rgb(223, 116, 74);;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid white;
}

article  {
    width: 83.5%;
    margin: auto;
    text-align: center;
}

#contact p {
    color: rgb(223, 116, 74);
    font-size: 20px;
    letter-spacing: 2px;
}

#local {
    display: inline-block;
    width: 70%;
}

#link {
    width: 20%;
    display: inline-block;
    text-align: left;

}

#link a {
    display: block;
    text-decoration: none;
    color: rgb(223, 116, 74);
    min-width: 220px;
    font-size: 20px;
    transform: translate(-25%, -115%);
}

#insta-contact:hover {
    transform: translate(-18%, -115%);
    transition: 1s;
}

#whats-contact:hover {
    transform: translate(-18%, -115%);
    transition: 1s;
}

iframe {
    display: inline-block;
    text-align: right;
    padding: 10px 0px 10px 20px;
    transform: translateX(15%);
    width: 320px;
}

#img1 {
    width: 50px;
    transform: translate(8%, 40%);
}

#img2 {
    width: 55px;
    transform: translate(8%, 40%);
}

footer {
    clear: both;
    background-color: rgb(223, 116, 74);
    text-align: center;
    align-items: center;
    padding: 1vw;
    width: 83%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(151, 216, 210);
}

.whatsfixed {
    position: fixed;
    bottom:  50px;
    right: 55px;
}

 .whats {
    width: 80px;
} 

.whats:hover {
    /* width: 100px; */
    transform: scale(1.4);
    transition: 0.8s;
}

@media screen and (max-width: 730px) {
    .ref {
        font-size: 20px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        width: 90%;
        margin: auto;
        text-align: center;
        line-height: 20px;
        color: rgb(223, 116, 74);
    }

    #local {
        /* display: inline-block; */
        width: 70%;
    }
    
    #link {
        display: inline-block;
        width: 300px;
    
        padding-top: 10px;
    }

    #link a {
        display: block;
        /* background-color: teal; */
        text-decoration: none;
        color: rgb(223, 116, 74);
        width: 240px;
        font-size: 20px;
        margin: auto;
        
        transform: none;
    }

    iframe {
        display: inline-block;
        padding: 30px 0px 10px 0px;
        transform: none;
        width: 80%;
        /* background-color: yellowgreen; */
    }
}

@media screen and (max-width: 700px) {
    .card {
        float: none;
        margin: auto;    
        width: 80%;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    .whatsfixed {
        position: fixed;
        bottom:  30px;
        right: 30px;
    }
    
     .whats {
        width: 90px;
    } 
}

@media screen and (max-width: 500px) {
    .hero nav ul {
        margin: 20px 50px 0 0 ;
    }
    
    .hero nav li {
        display: block; /* colocar as listas lado a lado */
        list-style: none;
        text-align: center;
        margin: 5px;
        border: 1px solid white;
    } 
    
    .hero nav a {
        background: rgba(254, 220, 210, 0.5); /* Rred, Ggreen, Bblue, Alpha= opacidade vai de 0 até 1*/
        display: block; /* link transformado em block, p/ se encaixar nas lis*/
        padding: 15px;
        color: rgb(223, 116, 74);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px; /* Espaçamento da caixa / alongamento */
    }
    .hero-content {
        text-align: center;
        color: rgb(223, 116, 74);
        margin-top: 15%;
    }
    
    .hero-content h1 {
        text-transform: uppercase; /* Letras maiúsculas*/
        font-size: 46px;
        text-shadow: 3px 3px 5px rgb(254, 220, 210); /* Efeito sombreado*/
        letter-spacing: 8px;
    }

.whatsfixed {
    position: fixed;
    bottom:  25px;
    right: 25px;
    }

 .whats {
    width: 70px;
    } 

#local {
    width: 70%;
    }

#link {
    display: inline-block;
    width: 180px;
    padding-top: 0px;
    }

iframe {
    display: inline-block;
    padding: 30px 0px 10px 0px;
    transform: none;
    width: 100%;
    
    }
}