body {
    font-family: arial, sans sans-serif;
    background-color: rgba(254, 220, 210, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.hero {
    background-image: url(../img/backprincipal2000.jpeg);
    height: 500px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-position: right center; /* back-pos escolhe lados onde fixa imagem*/
    background-size: cover; /* Deixar imagem inteira fixa */
    border-top: 1px solid red transparent;
    padding-top: 1px;
}

.hero-content {
    text-align: center;
    color: rgb(223, 116, 74);
    margin-top: 100px;
}

.hero-content h1 {
    text-transform: uppercase; /* Letras maiúsculas*/
    font-size: 46px;
    text-shadow: 3px 3px 5px rgb(254, 220, 210); /* Efeito sombreado*/
    letter-spacing: 8px;
}


.hero nav ul {
    text-align: right; 
    margin: 20px 50px 0 0 ;
    /* position: relative; */
}


.hero nav li {
    display: inline-block; /* colocar as listas lado a lado */
    list-style: none;
    border-radius: 5px;
    /* position: relative; */
    border: 1px solid white;
} 

.hero nav a {
    background: rgba(254, 220, 210, 0.5); /* Rred, Ggreen, Bblue, Alpha= opacidade vai de 0 até 1*/
    display: block; /* link transformado em block, p/ se encaixar nas lis*/
    padding: 15px;
    color: rgb(223, 116, 74);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; /* Espaçamento da caixa / alongamento */
}

.hero nav a:hover {
    background: rgba(254, 220, 210, 0.8);
    transition: 0.5s;

    /* padding: 20px; */
    color: white;
    
}

#index-nav:hover {
    background: rgba(254, 220, 210, 0.8);
    transition: 0.3s;
    /* margin-top: 30px; */
    /* display: inline-block; 
    position: absolute;
    top: 1px; */
    padding: 18px;
    color: white;
    
}

#services-nav:hover {
    background: rgba(254, 220, 210, 0.8);
    transition: 0.3s;
    /* margin-top: 30px; */
    /* display: inline-block; 
    position: absolute;
    top: 1px; */
    padding: 18px;
    color: white;
    
}

#about-nav:hover {
    background: rgba(254, 220, 210, 0.8);
    transition: 0.3s;
    /* margin-top: 30px; */
    /* display: inline-block; 
    position: absolute;
    top: 1px; */
    padding: 18px;
    color: white;
    
}

#contact-nav:hover {
    background: rgba(254, 220, 210, 0.8);
    transition: 0.3s;
    /* margin-top: 30px; */
    /* display: inline-block; 
    position: absolute;
    top: 1px; */
    padding: 18px;
    color: white;
    
}




.hero nav li:hover {
    border-color: rgba(254, 220, 210, 0.8);
    color: white;
}

.hero-content p {
    background-color: rgba(254, 220, 210, 0.5);
    display: inline-block;
    padding: 12px;
    border-bottom: 1px solid white;
    border-radius: 5px;
    letter-spacing: 4px;
}

#about h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(223, 116, 74);
    /* background-color: blue; */
    line-height: 40px;
    letter-spacing: 3px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(254, 220, 210, 0.8);
    border-bottom: 3px solid white;
    border-radius: 5px;
    /* border-style: solid; */
}
#about {
    background-color: rgba(151, 216, 210, 0.5);
    color: rgb(223, 116, 74);
    width: 85%;
    margin: auto;
    padding-top: 10px;    
    padding-bottom: 20px;
    /* align-items: center; */
}

#about h2 {
    text-align: center;
    padding-top: 10px;
}
#about p{
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 24px;
    /* vertical-align: 3px; */
}

main {
    width: 85%;
    margin: auto;
}

.content-section {
    background-color: rgba(151, 216, 210, 0.5);
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

#servicos h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(223, 116, 74);
    /* background-color: blue; */
    line-height: 40px;
    letter-spacing: 3px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(254, 220, 210, 0.8);
    border-bottom: 3px solid white;
    border-radius: 5px;
    /* border-style: solid; */
}

.card {
    float: left;
    text-align: center;
    width: 32%;
    /* border-radius: 5px; */
    box-sizing: border-box;
    /* position: relative; */
}

.card-1, .card-2, .card-4, .card-5 {
    margin-right: 2%;
}

.card-4, .card-5, .card-6 {
    margin-top: 10px;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}

.card p {
    background-color: rgba(254, 220, 210, 0.8);
    color: rgb(223, 116, 74);
    text-transform: uppercase;
    margin: 0;
    border-bottom: 3px solid white;
    border-radius: 0 0 5px 5px;
    padding: 15px 40px;
    /* min-height: 35px;
    line-height: 35px; */
    /* position: absolute;
    top: 50%; */
    /* transform: translateY(50%); */
    /* transform: translate(50%, 50%); */
}
article h2 {
    background-color: rgba(254, 220, 210, 0.8);
    border-bottom: 3px solid white;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(223, 116, 74);
}

.ref {
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 24px;
    color: rgb(223, 116, 74);
}

.ref2 {
    color: rgb(223, 116, 74);
}


.ref2 a {
    text-decoration: none;
    
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    color: rgb(151, 216, 210);
}

.ref2 a:hover {
    background-color: rgba(254, 220, 210, 0.8);
    font-size: 20px;
    transition: 0.8s;
    color: rgb(223, 116, 74);;
}

article  {
    width: 80%;
    margin: auto;
    text-align: center;
    /* align-items: center; */
}

#contact {
    background-color: rgba(151, 216, 210, 0.5);
    /* padding: 10px; */
    width: 85%;
    margin: auto;
    margin-top: 15px;
    /* overflow: auto; */
}


#contact h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(223, 116, 74);
    /* background-color: blue; */
    line-height: 40px;
    letter-spacing: 3px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(254, 220, 210, 0.8);
    border-bottom: 3px solid white;
    border-radius: 5px;
    /* border-style: solid; */
}

#local {
    display: inline-block;
    /* float: left; */
    width: 40%;
    /* height: 300px; */
    text-align: center;
    background-color: red;
    position: relative;
}

#link {
    /* line-height: 80px; */
    display: inline-block;
    background-color: rgba(254, 220, 210, 0.2);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
}

#link a {
    display: block;
    padding: 0;
}

#local iframe {
    /* float: none; */
    /* padding-top: 100px; */
    
}

#img1 {
    width: 50px;
    transform: translate(8%, 40%);
}

#img2 {
    width: 55px;
    transform: translate(-5%, 40%);
}

footer {
    clear: both;
    text-align: center;
    align-items: center;
    padding: 40px;
    color: rgb(151, 216, 210);
}

.whatsfixed {
    position: fixed;
    bottom:  50px;
    right: 55px;
}

 .whats {
    width: 80px;
} 

.whats:hover {
    width: 100px;
    transition: 0.8s;
}

@media screen and (max-width: 700px) {
    .card {
        float: none;
        margin: auto;    
        width: 80%;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    .whatsfixed {
        position: fixed;
        bottom:  30px;
        right: 30px;
        /* width: 10px; */
        /* width: 50px; */
    }
    
     .whats {
        width: 90px;
    } 
}

@media screen and (max-width: 500px) {
    .hero nav ul {
        margin: 20px 50px 0 0 ;
    }
    
    .hero nav li {
        display: block; /* colocar as listas lado a lado */
        list-style: none;
        text-align: center;
        margin: 5px;
        border: 1px solid white;
    } 
    
    .hero nav a {
        background: rgba(254, 220, 210, 0.5); /* Rred, Ggreen, Bblue, Alpha= opacidade vai de 0 até 1*/
        display: block; /* link transformado em block, p/ se encaixar nas lis*/
        padding: 15px;
        color: rgb(223, 116, 74);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px; /* Espaçamento da caixa / alongamento */
    }
    .hero-content {
        text-align: center;
        color: rgb(223, 116, 74);
        margin-top: 15%;
    }
    
    .hero-content h1 {
        text-transform: uppercase; /* Letras maiúsculas*/
        font-size: 46px;
        text-shadow: 3px 3px 5px rgb(254, 220, 210); /* Efeito sombreado*/
        letter-spacing: 8px;
}

.whatsfixed {
    position: fixed;
    bottom:  25px;
    right: 25px;
    /* width: 10px; */
    /* width: 50px; */
}

 .whats {
    width: 70px;
} 
}